iptables-test.py filter=lfs diff=lfs merge=lfs -text
m4 filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
TEST_MAPPING filter=lfs diff=lfs merge=lfs -text
autogen.sh filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
xlate-test.py filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
COPYING filter=lfs diff=lfs merge=lfs -text
extensions filter=lfs diff=lfs merge=lfs -text
INCOMPATIBILITIES filter=lfs diff=lfs merge=lfs -text
libipq filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
utils filter=lfs diff=lfs merge=lfs -text
libiptc filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
COMMIT_NOTES filter=lfs diff=lfs merge=lfs -text
config.h filter=lfs diff=lfs merge=lfs -text
etc filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
INSTALL filter=lfs diff=lfs merge=lfs -text
iptables filter=lfs diff=lfs merge=lfs -text
libxtables filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_GPL filter=lfs diff=lfs merge=lfs -text
